{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <link rel="stylesheet" href="{% static 'pure.css' %}">
  </head>
  <body class="bg">
    <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <ul class="pure-menu-list">
          <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">About us</a></li>
        </ul>
        <div class="dropdown-lang">
          <span>
            English
          </span>
          <div class="dropdown-content-lang">
            <ul class="list-lang">
              <li>
                German
              </li>
              <li>
                English
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
 </body>
<html>
