<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" type="text/css" href="pure.css">
    <link rel="stylesheet" type="text/css" href="custom.css">
  </head>
  <body>
    <ul class="nav home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
			<li class="home-menu-wrapper">
				<a class="btn apure-button home-menu-button">
					&#9776;
				</a>
				<ul class="home-menu-list">
					<li class="home-menu-item">
						<a class="home-menu-content" href="/">
							Home
						</a>
					</li>
					<li class="home-menu-item">
						<a class="home-menu-content" href="">
							Contact us
						</a>
					</li>
					<li class="home-menu-item">
						<a class="home-menu-content" href="google.com">
							google
						</a>
					</li>
					<li class="dropdown-lang home-menu-item">
						<div class="home-menu-content">
						  <span>
							English
						  </span>
						  <div class="dropdown-content-lang">
							<ul class="list-lang">
							  <li>
								German
							  </li>
							  <li>
								English
							  </li>
							</ul>
						  </div>
						</div>	
					</li>
				</ul>
			</li>
		</ul>
  <div id="content">
    <div class="bg-picture splash-container">
		<div class="splash">
			<h1 class="splash-head">WAYZOLOO</h1>
			<p class="splash-subhead">Translated from Ewe to English means you are warmly welcome as a visitor to our website!</p>
		</div>
	</div>
	<div class="content-wrapper bg">
		<div class="logo-wrapper">
			<img src="https://houseofperspective.files.wordpress.com/2019/10/cropped-logo-png.png?w=740&h=655" class="logo">
			<hr class="logo-line">
			<h1 class="logo-title">HoPe-Germany</h1>
		</div>
		<ul>
			<li>test1</li>
			<li>test2</li>
			<li>test3</li>
			<li>test1</li>
			<li>test2</li>
			<li>test3</li>
			<li>test1</li>
			<li>test2</li>
			<li>test3</li>
		</ul>
	</div>
  </div>
 </body>
<html>
