<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="custom.css">
    <link rel="stylesheet" type="text/css" href="pure.css">
  </head>
  <body>
    <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <ul class="pure-menu-list">
          <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">About us</a></li>
        </ul>
        <div class="dropdown-lang">
          <span>
            English
          </span>
          <div class="dropdown-content-lang">
            <ul class="list-lang">
              <li>
                German
              </li>
              <li>
                English
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <div id="content">
    <div class="bg-picture splash-container">
		<div class="splash">
			<h1 class="splash-head">WAYZOLOO</h1>
			<p class="splash-subhead">Translated from Ewe to English means you are warmly welcome as a visitor to our website!</p>
		</div>
	</div>
	<div class="content-wrapper bg">
		<div class="logo-wrapper">
			<img src="https://houseofperspective.files.wordpress.com/2019/10/cropped-logo-png.png?w=740&h=655" class="logo">
			<hr class="logo-line">
			<h1 class="logo-title">HoPe-Germany</h1>
		</div>
		<ul>
			<li>test1</li>
			<li>test2</li>
			<li>test3</li>
			<li>test1</li>
			<li>test2</li>
			<li>test3</li>
			<li>test1</li>
			<li>test2</li>
			<li>test3</li>
		</ul>
	</div>
  </div>
 </body>
<html>