{% extends "base_02.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="menu-wrapper">
  <div onclick="" class="dropdown-menu-lang">
    <span>
      {% if request.LANGUAGE_CODE == 'de' %}
      <img src="{% static 'icons/de.png' %}" class="home-menu-country-icon">
     {% else %}
      <img src="{% static 'icons/gb.png' %}" class="home-menu-country-icon">
     {% endif %}
    </span>
    <div class="dropdown-content-lang">
      <ul class="list-lang">
        <li>
          <a href= "/de/a/about_us" >
            <img src="{% static 'icons/de.png' %}" class="home-menu-country-icon">
         </a>
        </li>
        <li>
          <a href= "/en/a/about_us" >
            <img src="{% static 'icons/gb.png' %}" class="home-menu-country-icon">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="menu">
    <div class="menu-button">
      menu
    </div>
    <div class="menu-container-hidden ">
      <img src="{% static 'Hope_trans.jpeg' %}" class="logo">
      <div class="pure-menu custom-restricted-width menu">
        <ul class="pure-menu-list menu">
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/home" class="pure-menu-link">{% trans "Home" %}</a></li>
          <li class="pure-menu-item pure-menu-selected"><a href="/{{request.LANGUAGE_CODE}}/a/about_us" class="pure-menu-link">{% trans "About_us" %}</a></li>
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/events" class="pure-menu-link">{% trans "Projects" %}</a></li>
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/support_us" class="pure-menu-link">{% trans "Support_us" %}</a></li>
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/partner" class="pure-menu-link">{% trans "Partner " %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-picture bg">
</div>
<div class="content-wrapper">

  <div class="content">
    <div class="about-us-text cursiv">
      {% trans "about_us_content_01" %}
    </div>
  </div>

  <div class="content_02">
    <div class="about-us-main-image">
      <img src="{% static 'WorkInProgress.png' %}">
    </div>

    <div class="about-us-p bg-white">
      <h1 class="about-us-headline">
        {% trans "about_us_headline_01" %}
      </h1>
      <div class="about-us-text">
        <p>{% trans "about_us_content_02" %}</p>
        <p>{% trans "Unser Vorstand besteht aus vier Personen." %} </p>
        <ul>
          <li>{% trans "Vorstandsvorsitzende: Jolina Oelsner" %}</li>
          <li>{% trans "stellvertretender Vorsitzender: Florian Oelsner" %}</li>
          <li>{% trans "Öffentlichkeitsarbeit: Richard Lüdtke" %}</li>
          <li>{% trans "Schatzmeisterin: Ines Oelsner" %}</li>
        </ul>
      </div>
    </div>
  </div>


</div>
<div class="empty">
  </div>
<div class="impressum">
  <a href="/{{request.LANGUAGE_CODE}}/a/impressum">{% trans "Impressum" %}</a>
</div>

{% endblock %}
