{% extends "base_02.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="menu-wrapper">
  <div onclick="" class="dropdown-menu-lang">
    <span>
      {% if request.LANGUAGE_CODE == 'de' %}
      <img src="{% static 'icons/de.png' %}" class="home-menu-country-icon">
     {% else %}
      <img src="{% static 'icons/gb.png' %}" class="home-menu-country-icon">
     {% endif %}
    </span>
    <div class="dropdown-content-lang">
      <ul class="list-lang">
        <li>
          <a href= "/de/a/events/{{event.event_id}}" >
            <img src="{% static 'icons/de.png' %}" class="home-menu-country-icon">
         </a>
        </li>
        <li>
          <a href= "/en/a/events/{{event.event_id}}" >
            <img src="{% static 'icons/gb.png' %}" class="home-menu-country-icon">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="menu">
    <div class="menu-button">
      menu
    </div>
    <div class="menu-container-hidden ">
      <img src="{% static 'Hope_trans.jpeg' %}" class="logo">
      <div class="pure-menu custom-restricted-width menu">
        <ul class="pure-menu-list menu">
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/home" class="pure-menu-link">{% trans "Home" %}</a></li>
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/about_us" class="pure-menu-link">{% trans "About_us" %}</a></li>
          <li class="pure-menu-item pure-menu-selected"><a href="/{{request.LANGUAGE_CODE}}/a/events" class="pure-menu-link">{% trans "Projects" %}</a></li>
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/support_us" class="pure-menu-link">{% trans "Support_us" %}</a></li>
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/partner" class="pure-menu-link">{% trans "Partner " %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-picture bg">
</div>

<div class="content-wrapper">
  <div class="content">
    <h2> {% trans "donate_fv_ghana_headline_01" %} </h2>
    <div class="hope-display-inline-block">
      <img class="donate-fv-ghana-pic-01 hope-float-left hope-margin-10" src="{% static 'Hope_trans.jpeg' %}">
      <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_01_01" %} </div>
    </div>
    <div class="hope-margin-10 hope-bold"> {% trans "donate_fv_ghana_content_01_02" %} </div>
  </div>

  <div class="content">
    <h2> {% trans "donate_fv_ghana_headline_02" %} </h2>
    <div class="hope-display-inline-block">
      <img class="donate-fv-ghana-pic-02-01 hope-float-right hope-margin-10" src="{% static 'Hope_JR2020_03.jpg' %}">
      <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_02_01" %} </div>
    </div>
    <div class="hope-display-inline-block">
      <img class="donate-fv-ghana-pic-02-02 hope-float-right hope-margin-10" src="{% static 'Hope_JR2020_04.jpeg' %}">
      <div class=" hope-margin-10"> {% trans "donate_fv_ghana_content_02_02" %} </div>
    </div>
    <div>
      <div>
        <div class="hope-float-left hope-margin-10 hope-slideshow-container">
          <div class="hope-slideshow-slide hope-slideshow-fade">
            <img class="donate-fv-ghana-pic-02-03" src="{% static 'Hope_JR2020_14.jpg' %}">
          </div>
          <div class="hope-slideshow-slide hope-slideshow-fade">
            <img class="donate-fv-ghana-pic-02-04" src="{% static 'Hope_JR2020_05.JPG' %}">
          </div>
          <div class="hope-slideshow-slide hope-slideshow-fade">
            <img class="donate-fv-ghana-pic-02-05" src="{% static 'Hope_JR2020_02.JPG' %}">
          </div>
        </div>
        <div class=" hope-margin-10"> {% trans "donate_fv_ghana_content_02_03" %} </div>
      </div>
      <div class="hope-width-100 hope-text-align-center">
        <img class="donate-fv-ghana-pic-02-06 hope-display-inline-block hope-width-33" src="{% static 'Hope_JR2020_01.jpg' %}">
        <img class="donate-fv-ghana-pic-02-07 hope-display-inline-block hope-width-33" src="{% static 'Hope_01.jpeg' %}">
        <img class="donate-fv-ghana-pic-02-08 hope-display-inline-block hope-width-33" src="{% static 'Hope_JR2020_09.jpeg' %}">
      </div>
    </div>
  </div>

  <div class="content">
    <h2> {% trans "donate_fv_ghana_headline_03" %} </h2>
    <div class="hope-display-inline-block">
      <img class="donate-fv-ghana-pic-03 hope-float-right hope-margin-10" src="{% static 'Hope_03.jpeg' %}">
      <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_03_01" %} </div>
    </div>
  </div>

  <div class="content">
    <h2> {% trans "donate_fv_ghana_headline_04" %} </h2>
    <div class="hope-display-inline-block">
      <img class="donate-fv-ghana-pic-04-01 hope-float-left hope-margin-10" src="{% static 'Hope_JR2020_06.jpeg' %}">
      <div class="hope-display-block hope-float-right hope-margin-10">
        <div>
          <img class="donate-fv-ghana-pic-04-02" src="{% static 'Hope_JR2020_16.JPG' %}">
        </div>
        <div>
          <img class="donate-fv-ghana-pic-04-03" src="{% static 'Hope_JR2020_15.JPG' %}">
        </div>
      </div>
      <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_04_01" %} </div>
    </div>
    <div class="hope-width-100 hope-text-align-center">
      <img class="donate-fv-ghana-pic-04-04" src="{% static 'Hope_04.jpeg' %}">
    </div>
  </div>

  <div class="content">
    <h2> {% trans "donate_fv_ghana_headline_05" %} </h2>
    <img class="donate-fv-ghana-pic-05-01 hope-float-left hope-margin-10" src="{% static 'Hope_JR2020_10.JPG' %}">
    <img class="donate-fv-ghana-pic-05-02 hope-float-right hope-margin-10" src="{% static 'Hope_JR2020_11.JPG' %}">
    <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_05_01" %} </div>
  </div>

  <div class="content">
    <h2> {% trans "donate_fv_ghana_headline_06" %} </h2>
    <img class="donate-fv-ghana-pic-06 hope-float-left hope-margin-10" src="{% static 'Hope_JR2020_07.jpeg' %}">
    <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_06_01" %} </div>
  </div>

  <div class="content">
    <h2> {% trans "donate_fv_ghana_headline_07" %} </h2>
    <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_07_01" %} </div>
    <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_07_02" %} </div>
    <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_07_03" %} </div>
    <div class="hope-width-100 hope-text-align-center">
      <img class="donate-fv-ghana-pic-07-01" src="{% static 'WorkInProgress.png' %}">
      <img class="donate-fv-ghana-pic-07-02" src="{% static 'Hope_JR2020_12.jpeg' %}">
    </div>
    <div class="hope-display-inline-block">
      <img class="donate-fv-ghana-pic-07-03 hope-float-right hope-margin-10" src="{% static 'Hope_JR2020_17.JPG' %}">
      <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_07_04" %} </div>
    </div>
    <div class="hope-width-100 hope-text-align-center">
      <img class="donate-fv-ghana-pic-07-04" src="{% static 'Hope_JR2020_13.JPG' %}">
      <img class="donate-fv-ghana-pic-07-05" src="{% static 'Hope_JR2020_12.JPG' %}">
    </div>
  </div>

  <div class="content">
    <h2> {% trans "donate_fv_ghana_headline_08" %} </h2>
    <img class="donate-fv-ghana-pic-08 hope-float-left hope-margin-10" src="{% static 'Hope_JR2020_18.jpeg' %}">
    <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_08_01" %} </div>
  </div>

  <div class="content">
    <h2> {% trans "donate_fv_ghana_headline_09" %} </h2>
    <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_09_01" %} </div>
    <div class="hope-width-100">
      <img class="donate-fv-ghana-pic-09-01 hope-float-left hope-margin-10" src="{% static 'Hope_JR2020_20.jpeg' %}">
      <img class="donate-fv-ghana-pic-09-02 hope-float-right hope-margin-10" src="{% static 'Hope_JR2020_19.jpeg' %}">
      <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_09_02" %} </div>
    </div>
    <div class="hope-display-inline-block">
      <img class="donate-fv-ghana-pic-09-03 hope-float-left hope-margin-10" src="{% static 'Hope_JR2020_21.jpg' %}">
      <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_09_03" %} </div>
    </div>
    <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_09_04" %} </div>
    <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_09_05" %} </div>
    <div class="hope-margin-10"> {% trans "donate_fv_ghana_content_09_06" %} </div>
  </div>

  <div class="content">
    <div class="hope-width-100 hope-text-align-center">
      <img class="donate-fv-ghana-pic-10" src="{% static 'Hope_JR2020_08.jpg' %}">
      <div class="hope-font-size-160"> {% trans "donate_fv_ghana_content_10_01" %} </div>
    </div>
  </div>
</div>


<div class="impressum">
  <a href="/{{request.LANGUAGE_CODE}}/a/impressum">{% trans "Impressum" %}</a>
</div>

<div class="hope-empty">
</div>

<script src="{% static 'hope_slideshow.js' %}"></script>
{% endblock %}
