{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<div class="content content-first">
	{% if events %}
		{% for event in events %}
			<a class="event-link" href="events/{{ event.event_object.id }}">
				<div class="event-list-box" style="background-image: url('{{ event.image_object.image }}');">
					<!--<img src="{% static 'EventImages/Hope.jpeg' %}" class="event-list-logo">-->
					<div class="event-list-headline">
						{{ event.event_object.title_english}}
					</div>
				</div>
			</a>
		{% endfor %}
	{% else %}
		<p>No events available</p>
	{% endif %}

<!--Deutscher Titel: { events.first.title_german }}-->

<!--
</div>
-->
{% endblock %}
