{% extends "base_02.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<div class="menu-wrapper">
  <div class="dropdown-menu-lang">
    <span>
      {% if request.LANGUAGE_CODE == 'de' %}
      <img src="{% static 'icons/de.png' %}" class="home-menu-country-icon">
     {% else %}
      <img src="{% static 'icons/gb.png' %}" class="home-menu-country-icon">
     {% endif %}
    </span>
    <div class="dropdown-content-lang">
      <ul class="list-lang">
        <li>
          <a href= "/de/a/impressum" >
            <img src="{% static 'icons/de.png' %}" class="home-menu-country-icon">
         </a>
        </li>
        <li>
          <a href= "/en/a/impressum" >
            <img src="{% static 'icons/gb.png' %}" class="home-menu-country-icon">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="menu">
    <div class="menu-button">
      menu
    </div>
    <div class="menu-container-hidden ">
      <img src="{% static 'Hope_trans.jpeg' %}" class="logo">
      <div class="pure-menu custom-restricted-width menu">
        <ul class="pure-menu-list menu">
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/home" class="pure-menu-link">{% trans "Home" %}</a></li>
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/about_us" class="pure-menu-link">{% trans "About_us" %}</a></li>
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/events" class="pure-menu-link">{% trans "Projects" %}</a></li>
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/support_us" class="pure-menu-link">{% trans "Support_us" %}</a></li>
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/partner" class="pure-menu-link">{% trans "Partner " %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-picture bg">
</div>
<div class="content-wrapper">
  <div class="content content-first">
      <h1 class="content-title">Impressum</h1>
      <table class="table">
        <tr>
          <td><div  class="tmg"><!--Entries referred to § 5 TMG Germany-->{% trans "impressum_reason" %}</div></td>
        </tr>
        <tr>
          <td><h4>Freunde & Förderer HoPe Ghana e.V.</h4></td>
        </tr>
        <tr>
          <td>Loitscher Weg 2a</td>
        </tr>
        <tr>
          <td>39128 Magdeburg</td>
        </tr>
        <tr>
          <td><!--Germany-->{% trans "germany" %}</td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <td><h4><!--Represented by-->{% trans "represented_by" %}</h4></td>
        </tr>
        <tr>
          <td>J. Oelsner</td>
        </tr>
        <tr>
          <td>Loitscher Weg 2a</td>
        </tr>
        <tr>
          <td>39128 Magdeburg</td>
        </tr>
        <tr>
          <td><!--Germany-->{% trans "germany" %}</td>
        </tr>
        <tr>
          <td>jolina.oelsner@gmail.com</td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <td><h4><!--Technical contact-->{% trans "technicale_contact" %}</h4></td>
        </tr>
        <tr>
          <td>Richard Lüdtke</td>
        </tr>
        <tr>
          <td>Lüneburger Straße 26a</td>
        </tr>
        <tr>
          <td>39106 Magdeburg</td>
        </tr>
        <tr>
          <td><!--Germany-->{% trans "germany" %}</td>
        </tr>
        <tr>
          <td>richard.luedtke@gmx.de</td>
        </tr>
      </table>
  </div>
</div>

{% endblock %}
