{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div>
  <div class="content content-first">
      <h1 class="content-title">Impressum</h1>
      <table class="table">
        <tr>
          <td><div  class="tmg"><!--Entries referred to § 5 TMG Germany-->{% trans "impressum_reason" %}</div></td>
        </tr>
        <tr>
          <td><h4>Freunde & Förderer HoPe Ghana e.V.</h4></td>
        </tr>
        <tr>
          <td>Loitscher Weg 2a</td>
        </tr>
        <tr>
          <td>39128 Magdeburg</td>
        </tr>
        <tr>
          <td><!--Germany-->{% trans "germany" %}</td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <td><h4><!--Represented by-->{% trans "represented_by" %}</h4></td>
        </tr>
        <tr>
          <td>J. Oelsner</td>
        </tr>
        <tr>
          <td>Loitscher Weg 2a</td>
        </tr>
        <tr>
          <td>39128 Magdeburg</td>
        </tr>
        <tr>
          <td><!--Germany-->{% trans "germany" %}</td>
        </tr>
        <tr>
          <td>jockeyla.jockeyla@gmail.com</td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <td><h4><!--Technical contact-->{% trans "technicale_contact" %}</h4></td>
        </tr>
        <tr>
          <td>Richard Lüdtke</td>
        </tr>
        <tr>
          <td>Lüneburger Straße 26a</td>
        </tr>
        <tr>
          <td>39106 Magdeburg</td>
        </tr>
        <tr>
          <td><!--Germany-->{% trans "germany" %}</td>
        </tr>
        <tr>
          <td>richard.luedtke@gmx.de</td>
        </tr>
      </table>
  </div>

<!--
</div>
-->
{% endblock %}
