{% extends "base_02.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="dropdown-menu-lang bg-white">
  <span>
    {% if request.LANGUAGE_CODE == 'de' %}
    <img src="{% static 'icons/de.png' %}" class="home-menu-country-icon">
   {% else %}
    <img src="{% static 'icons/gb.png' %}" class="home-menu-country-icon">
   {% endif %}
  </span>
  <div class="dropdown-content-lang">
    <ul class="list-lang">
      <li>
        <a href= "/de/a" >
          <img src="{% static 'icons/de.png' %}" class="home-menu-country-icon">
       </a>
      </li>
      <li>
        <a href= "/en/a" >
          <img src="{% static 'icons/gb.png' %}" class="home-menu-country-icon">
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="bg-picture splash-container">
  <div class="splash">
    <h1 class="splash-head"><span>WOEZ</span><span class="rotate-c">C</span><!--{% trans "splash-title" %}--></h1>
    <p class="splash-subhead"><!--Translated from Ewe to English means you are warmly welcome as a visitor to our website!-->{% trans "splash-text" %}</p>
  </div>
</div>

<div class ="content-splash-wrapper bg-white">
  <div class="menu-container ">
    <img src="{% static 'Hope_trans.jpeg' %}" class="logo">
    <div class="pure-menu custom-restricted-width menu">
      <ul class="pure-menu-list menu">
        <li class="pure-menu-item pure-menu-selected"><a href="/{{request.LANGUAGE_CODE}}/a/home" class="pure-menu-link">{% trans "Home" %}</a></li>
        <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/about_us" class="pure-menu-link">{% trans "About_us" %}</a></li>
        <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/events" class="pure-menu-link">{% trans "Projects" %}</a></li>
        <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/support_us" class="pure-menu-link">{% trans "Support_us" %}</a></li>
        <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/partner" class="pure-menu-link">{% trans "Partner " %}</a></li>
      </ul>
    </div>
  </div>


{% endblock %}
