{% extends "base_02.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="menu-wrapper">
  <div onclick="" class="dropdown-menu-lang">
    <span>
      {% if request.LANGUAGE_CODE == 'de' %}
      <img src="{% static 'icons/de.png' %}" class="home-menu-country-icon">
     {% else %}
      <img src="{% static 'icons/gb.png' %}" class="home-menu-country-icon">
     {% endif %}
    </span>
    <div class="dropdown-content-lang">
      <ul class="list-lang">
        <li>
          <a href= "/de/a/partner" >
            <img src="{% static 'icons/de.png' %}" class="home-menu-country-icon">
         </a>
        </li>
        <li>
          <a href= "/en/a/partner" >
            <img src="{% static 'icons/gb.png' %}" class="home-menu-country-icon">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div onclick="" class="menu">
    <div class="menu-button">
      menu
    </div>
    <div class="menu-container-hidden ">
      <img src="{% static 'Hope_trans.jpeg' %}" class="logo">
      <div class="pure-menu custom-restricted-width menu">
        <ul class="pure-menu-list menu">
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/home" class="pure-menu-link">{% trans "Home" %}</a></li>
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/about_us" class="pure-menu-link">{% trans "About_us" %}</a></li>
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/events" class="pure-menu-link">{% trans "Projects" %}</a></li>
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/support_us" class="pure-menu-link">{% trans "Support_us" %}</a></li>
          <li class="pure-menu-item pure-menu-selected"><a href="/{{request.LANGUAGE_CODE}}/a/partner" class="pure-menu-link">{% trans "Partner " %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="bg-picture bg">
</div>
<div class="content-wrapper">
  <div class="content">
    <h1>
      {% trans "Unsere Partner" %}
    </h1>
    <div class="pure-g gallery ">
      <div class="pure-u-1-4 partner-logo-container">
        <a href= "https://www.houseofperspectives.org/">
          <img src="{% static 'Hope_trans-h180.jpeg' %}" alt='HoPe' title='House of Perspectives Ghana'/>
        </a>
      </div>
      <div class="pure-u-1-4 partner-logo-container">
        <a href= "http://oekozentrum.eu/">
          <img src="{% static 'oeko.png' %}" alt='Oekozentrum Magdeburg' title='Oekozentrum Magdeburg'/>
        </a>
      </div>
    </div>
  </div>
  <div class="content">
    <h1>
      {% trans "Unsere Foerderer" %}
    </h1>
    <div class="pure-g gallery ">
      <div class="pure-u-1-4 partner-logo-container">
        <a href= "https://www.norbertus.de/">
          <img src="{% static 'norbertus-logo-icon-h180.png' %}" alt="Norbertusgymnasium Magdeburg"  title="Norbertusgymnasium Magdeburg"/>
        </a>
      </div>
      <div class="pure-u-1-4 partner-logo-container">
        <a href= "https://st.hildegard-grundschule.de">
          <img src="{% static 'St.Hildegard-Grundschule.jpeg' %}" alt="St.Hildegard-Grundschule"  title="St.Hildegard-Grundschule"/>
        </a>
      </div>
    </div>
  </div>
  <div class="content">
    <h1>
      {% trans "Kooperationen" %}
    </h1>
    <p>
      {% trans "Sie sind Chef oder Angestelltes einer Firma," %}
    </p>
  </div>

</div>

<div class="empty">
</div>

<div class="impressum">
  <a href="/{{request.LANGUAGE_CODE}}/a/impressum">{% trans "Impressum" %}</a>
</div>
{% endblock %}
