{% extends "base_02.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="menu-wrapper">
  <div onclick="" class="dropdown-menu-lang">
    <span>
      {% if request.LANGUAGE_CODE == 'de' %}
      <img src="{% static 'icons/de.png' %}" class="home-menu-country-icon">
     {% else %}
      <img src="{% static 'icons/gb.png' %}" class="home-menu-country-icon">
     {% endif %}
    </span>
    <div class="dropdown-content-lang">
      <ul class="list-lang">
        <li>
          <a href= "/de/a/support_us" >
            <img src="{% static 'icons/de.png' %}" class="home-menu-country-icon">
         </a>
        </li>
        <li>
          <a href= "/en/a/support_us" >
            <img src="{% static 'icons/gb.png' %}" class="home-menu-country-icon">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="menu">
    <div class="menu-button">
      menu
    </div>
    <div class="menu-container-hidden ">
      <img src="{% static 'Hope_trans.jpeg' %}" class="logo">
      <div class="pure-menu custom-restricted-width menu">
        <ul class="pure-menu-list menu">
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/home" class="pure-menu-link">{% trans "Home" %}</a></li>
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/about_us" class="pure-menu-link">{% trans "About_us" %}</a></li>
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/events" class="pure-menu-link">{% trans "Projects" %}</a></li>
          <li class="pure-menu-item pure-menu-selected"><a href="/{{request.LANGUAGE_CODE}}/a/support_us" class="pure-menu-link">{% trans "Support_us" %}</a></li>
          <li class="pure-menu-item"><a href="/{{request.LANGUAGE_CODE}}/a/partner" class="pure-menu-link">{% trans "Partner " %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-picture bg">
</div>
<div class="content-wrapper">

  <div class="content">
    <h2>  {% trans "support_us_headline_01" %}</h2>
    <div>
      {% trans "support_us_content_01" %}
    </div>
  </div>
  <div class="content">
    <h3>  {% trans "support_us_headline_02" %}</h3>
    <p> {% trans "support_us_content_02" %} </p>
    <a class="document-member" href="{% static 'Satzung_Foerderverein.pdf' %}">
      <div>
        <div>
        <img src="{% static 'icons/pdf.png' %}" class="support_us_icon">
        {% trans "Satzung DE" %}
        </div>
      </div>
    </a>
    <a class="document-member" href="{% static 'Beitrittserklärung_Freunde _ Förderer_HoPe_Ghana_eV.pdf' %}">
      <div>
        <div>
        <img src="{% static 'icons/pdf.png' %}" class="support_us_icon">
        {% trans "Membership application DE" %}
        </div>
      </div>
    </a>
  </div>

  <div class="content">
    <h3>{% trans "support_us_headline_03" %}</h3>
    <p> {% trans "support_us_content_03" %} </p>
    <p> {% trans "support_us_content_04" %} </p>
    <a class="document-member" href="{% static 'Spendenformular_für_Freunde_Förderer_HoPe_Ghana_eV.pdf' %}">
      <div>
        <div>
        <img src="{% static 'icons/pdf.png' %}" class="support_us_icon">
        {% trans "Spendenformular" %}
        </div>
      </div>
    </a>
    <p class="bold">Paypal</p>

    {% if request.LANGUAGE_CODE == 'de' %}
      <form class="paypal-form"action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations" />
        <input type="hidden" name="business" value="hope.ghana.ev@gmail.com" />
        <input type="hidden" name="currency_code" value="EUR" />
        <input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Spenden mit dem PayPal-Button" />
        <img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1" />
      </form>
    {% else %}
    <form class="paypal-form"action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations" />
      <input type="hidden" name="business" value="hope.ghana.ev@gmail.com" />
      <input type="hidden" name="currency_code" value="EUR" />
      <input type="image" src="https://www.paypalobjects.com/en_US/DK/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_DE/i/scr/pixel.gif" width="1" height="1" />
    </form>
    {% endif %}
  </div>
</div>

<div class="empty">
</div>

<div class="impressum">
  <a href="/{{request.LANGUAGE_CODE}}/a/impressum">{% trans "Impressum" %}</a>
</div>
{% endblock %}
