.donate-fv-ghana-pic-01 {
  height: 200px;
  width: 200px;
}

.donate-fv-ghana-pic-02-01 {
  height: 300px;
  width: 500px;
}

.donate-fv-ghana-pic-02-02 {
  height: 300px;
  width: 250px;
}

.donate-fv-ghana-pic-02-03 {
  height: 300px;
  width: 300px;
}

.donate-fv-ghana-pic-02-04 {
  height: 150px;
  width: 100px;
}

.donate-fv-ghana-pic-02-05 {
  height: 100px;
  width: 150px;
}

.donate-fv-ghana-pic-02-06 {
  height: 100px;
  width: 150px;
}

.donate-fv-ghana-pic-02-07 {
  height: 100px;
  width: 150px;
}

.donate-fv-ghana-pic-02-08 {
  height: 100px;
  width: 150px;
}

.donate-fv-ghana-float-right {
  float: right;
}

.donate-fv-ghana-float-left {
  float: left;
}


.donate-fv-ghana-relative {
    position: relative;
}
