.donate-fv-ghana-pic-01 {
  height: 200px;
  width: 200px;
}

.donate-fv-ghana-pic-02-01 {
  height: 300px;
  width: 500px;
}

.donate-fv-ghana-pic-02-02 {
  height: 300px;
  width: 250px;
}

.donate-fv-ghana-pic-02-03 {
  /*height: 300px;
  width: 300px;*/
  width:100%
}

.donate-fv-ghana-pic-02-04 {
  /*height: 150px;
  width: 100px;*/
  width:100%
}

.donate-fv-ghana-pic-02-05 {
  /*height: 100px;
  width: 150px;*/
  width:100%
}

.donate-fv-ghana-pic-02-06 {
}

.donate-fv-ghana-pic-02-07 {
}

.donate-fv-ghana-pic-02-08 {
}

.donate-fv-ghana-pic-03 {
width:400px;
}

.donate-fv-ghana-pic-04-01 {
width:400px;
}

.donate-fv-ghana-pic-04-02 {
width:200px;
}

.donate-fv-ghana-pic-04-03 {
width:200px;
}

.donate-fv-ghana-pic-04-04 {
width:500px;
}

.donate-fv-ghana-pic-05-01 {
width:200px;
}

.donate-fv-ghana-pic-05-02 {
width:200px;
}

.donate-fv-ghana-pic-06 {
width:500px;
}

.donate-fv-ghana-pic-07-01 {
width:calc((100% - 40px) * (2/3));
}

.donate-fv-ghana-pic-07-02 {
width:calc((100% - 40px) * (1/3))
}

.donate-fv-ghana-pic-07-03 {
width:400px;
}

.donate-fv-ghana-pic-07-04 {
width:calc((100% - 40px) / 2);
}

.donate-fv-ghana-pic-07-05 {
width:calc((100% - 40px) / 2);
}

.donate-fv-ghana-pic-08 {
width:300px;
}

.donate-fv-ghana-pic-09-01 {
width:calc((100% - 40px) / 2);
}
.donate-fv-ghana-pic-09-02 {
width:calc((100% - 40px) / 2);
}

.donate-fv-ghana-pic-09-03 {
width:400px;
}

.donate-fv-ghana-pic-10 {
width:400px;
}
